<nav>
  <div class="nav-wrapper grey lighten-3">
    <a href="#" class="brand-logo center flow-text grey-text text-darken-2">Welli Vici Real-Estate</a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="grey-text text-darken-2" href="/index/contact">Contact</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="grey-text text-darken-2" href="/index/sales">Sales</a></li>
      <li><a class="grey-text text-darken-2" href="badges.html">About me</a></li>
    </ul>

  </div>
</nav>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://www.thepinnaclelist.com/wp-content/uploads/2016/06/03-212-E-12-Top-5-Luxury-Real-Estate-Projects-to-Watch-in-New-York-City.jpg"/> <!-- random image -->
      <div class="caption center-align">
        <h3 class="black-text">This is our big Tagline!</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://bppmalta.com/wp-content/uploads/2016/08/nyc-luxury-apartments-nyc-real-estate-search-streeteasy-apartments-excellent.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3 class="black-text">Left Aligned Caption</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://luxport.s3.amazonaws.com/97377/180%2BAve%2BOf%2BAmericas%2BPhc%2BNew%2BYork%2BNY%2BUSA%2B400237_019_H.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3 class="black-text">Right Aligned Caption</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://corenyc.com/public/listing-content/1152x734/media.realplusonline.com--CORE-38Prince-38_prince_01.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3 class="black-text">This is our big Tagline!</h3>
        <h5 class="black-text">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<footer class="page-footer grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-3">Footer Content</h5>
        <p class="grey-text text-darken-2">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-darken-3">Links</h5>
        <ul>
          <li><a class="grey-text text-darken-2" href="#!">Link 1</a></li>
          <li><a class="grey-text text-darken-2" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
