<!DOCTYPE html>
<html>
  <head>
    <title>WRealestate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
       $(document).ready(function () {
           $('.slider').slider({full_width: true, height: 700, indicators: false});
       });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
